absl-py==0.13.0
addict==2.4.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==2.0.4
anaconda-project==0.8.3
aniso8601==8.0.0
antlr4-python3-runtime==4.8
appdirs==1.4.4
arrow==1.1.1
asn1crypto==1.0.1
astroid==2.3.3
astropy==3.2.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.2.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports.entry-points-selectable==1.1.1
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
basicsr==1.3.4.1
beautifulsoup4==4.8.1
bitarray==1.0.1
bkcharts==0.2
black==21.4b2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
boto3 @ file:///tmp/build/80754af9/boto3_1610128984381/work
botocore @ file:///tmp/build/80754af9/botocore_1610129741423/work
Bottleneck==1.2.1
bpemb==0.3.3
bz2file==0.98
cachetools==4.2.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
colorlog==4.8.0
conda==4.10.3
conda-build==3.18.9
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262151086/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
configobj==5.0.6
configparser==5.0.2
conllu @ file:///home/conda/feedstock_root/build_artifacts/conllu_1610837829400/work
contextlib2==0.6.0
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
dateparser==0.7.6
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.12
# Editable install with no version control (detectron2==0.1.3+cu101)
-e /home/azeddine/anaconda3/lib/python3.7/site-packages
distlib==0.3.3
distributed==2.5.2
dnspython==2.1.0
docutils==0.15.2
docx2pdf==0.1.7
elmoformanylangs==0.0.4.post2
entrypoints==0.3
et-xmlfile==1.0.1
etelemetry==0.2.2
facexlib==0.2.0.3
fastcache==1.1.0
filelock==3.4.0
filterpy==1.4.5
findspark==1.4.2
fitz==0.0.1.dev2
flair==0.8.0.post1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
flatbuffers==2.0
fsspec==0.5.2
ftfy==6.0.3
future==0.18.2
fvcore @ file:///home/conda/feedstock_root/build_artifacts/fvcore_1623673481876/work
gast==0.4.0
gdown==3.12.2
gensim==3.8.0
gevent==1.4.0
-e git+ssh://git@github.com/azeddinebouabdallah/GFPGAN.git@ad70ce4653de61ea305d964ae765ad9e9d4a97c2#egg=gfpgan
glob2==0.7
gmpy2==2.0.8
google-auth==2.0.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.38.0
gunicorn==20.0.4
h5py==2.9.0
HeapDict==1.0.1
helper==2.5.0
html5lib==1.0.1
httplib2==0.19.1
huggingface-hub==0.0.12
hydra-core==1.1.1
hyperopt==0.2.5
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1631906757572/work
importlib-resources==5.2.2
imutils==0.5.4
iopath==0.1.8
ipykernel==5.1.2
ipython==7.8.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Janome==0.4.1
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
jenkspy==0.2.0
Jinja2==2.11.2
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib==0.13.2
json5==0.8.5
jsonlog==4.0.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-http-over-ws==0.0.8
jupyterlab==1.1.4
jupyterlab-server==1.0.6
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.1.0
konoha==4.6.5
langdetect==1.0.9
lazy-object-proxy==1.4.3
libarchive-c==2.8
libclang==12.0.0
lief==0.9.0
llvmlite==0.29.0
lmdb==1.2.1
locket==0.2.0
lpthw.web==1.1
lxml==4.4.1
MakeTreeDir==0.1.4
Markdown @ file:///tmp/build/80754af9/markdown_1614363832606/work
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592406090020/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.17.0
mock==3.0.5
more-itertools==8.8.0
mpld3==0.3
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
nasty==0.2.7
nasty-typeshed==0.1.0
nasty-utils==0.1.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
nibabel==3.2.1
nipype==1.6.1
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
notebook-as-pdf==0.5.0
numba==0.45.1
numexpr==2.7.0
numpy==1.20.3
numpydoc==0.9.1
oauthlib==3.1.1
olefile==0.46
omegaconf==2.1.1
opencv-python==4.4.0.42
openpyxl==3.0.0
opt-einsum==3.3.0
overrides==3.1.0
packaging==21.0
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib==1.0.1
pathlib2==2.3.5
pathspec==0.9.0
patsy==0.5.1
pdf2image==1.14.0
pdfminer.six==20200104
pdfplumber==0.5.22
pep8==1.7.1
pexpect==4.7.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.5.0.1
platformdirs==2.4.0
plotly @ file:///Users/nicolas/miniconda2/conda-bld/plotly_1624288630094/work/packages/python/plotly/dist/plotly-5.0.0.tar.gz
pluggy==0.13.0
ply==3.11
portalocker @ file:///tmp/build/80754af9/portalocker_1617135539189/work
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.17.2
prov==2.0.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.9
pycurl==7.43.0.3
pydantic==1.8.2
pydot @ file:///tmp/build/80754af9/pydot_1615394953203/work
pyee==8.1.0
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.4
pymongo==3.11.4
PyMuPDF==1.17.7
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
PyPDF2==1.26.0
pyppeteer==0.2.5
pyrsistent==0.15.4
PySocks==1.7.1
pyspark==2.4.5
pyspark-stubs==2.4.0.post8
pytesseract==0.3.8
pytest==5.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-crfsuite==0.9.7
python-dateutil==2.8.0
python-docx==0.8.10
pytz==2020.1
PyWavelets==1.0.3
pyxnat==1.4
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
rdflib==5.0.0
realesrgan==0.2.2.4
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.14.0
rsa==4.7.2
ruamel_yaml==0.15.46
s3transfer @ file:///tmp/build/80754af9/s3transfer_1616183147336/work
sacremoses==0.0.45
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
searchtweets==1.7.6
SecretStorage==3.1.1
segtok==1.5.10
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.95
simplegeneric==0.8.1
simplejson==3.17.3
singledispatch==3.4.0.3
six==1.15.0
sklearn-crfsuite==0.3.6
smart-open==2.0.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.4
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
split-folders==0.4.3
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.18
sqlitedict==1.7.0
statsmodels==0.10.1
stweet==1.3.1
sympy==1.4
tables==3.5.2
tabulate==0.8.9
tb-nightly==2.7.0a20210905
tblib==1.4.0
tenacity @ file:///tmp/build/80754af9/tenacity_1632746495287/work
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.8.2
tesseract2dict==1.3
testpath==0.4.2
text-unidecode==1.0
tika==1.24
tokenizers==0.10.3
toml==0.10.2
toolz==0.10.0
torch==1.9.0
torchvision==0.10.0
tornado==6.0.3
tqdm==4.59.0
traitlets==4.3.3
traits==6.2.0
transformers==4.9.2
tweepy==3.10.0
tweet-parser==1.13.2
typed-ast==1.4.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
tzlocal==2.1
unicodecsv==0.14.1
urllib3==1.26.6
vaderSentiment==3.3.2
virtualenv==20.10.0
waitress==2.0.0
Wand==0.6.5
wcwidth==0.1.7
web.py==0.40.dev0
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==1.0.3
xdg==4.0.1
xlrd==1.2.0
XlsxWriter==1.2.1
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yacs==0.1.8
yapf==0.31.0
zict==1.0.0
zipp==3.6.0
zstandard==0.15.2
